.hero-main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    --tw-bg-opacity: 1;
    background-color: rgb(0 71 51 / var(--tw-bg-opacity));
  }
  
  .hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    align-items: center;
    z-index: 10;
  }
  
  .hero-title {
    font-family: Helvetica, sans-serif;
    letter-spacing: 3px;
    font-weight: bolder;
    color: #1EE07F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  @media (min-width: 768px) {
    .hero-title {
      font-size: 7rem;
    }
  }
  
  .hero-ratting-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 3.5rem 0;
    padding: 2rem 0;
    width: 100%;
    padding-top: 2.5rem;
    gap: 20rem;
  }

  .hero-rating-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  
  .hero-button {
    background-color: #1EE07F;
    color: #012c20;
    padding: 1.5rem 3rem;
    border-radius: 9999px;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
    border: none;
    cursor: pointer;
  }
  
  .hero-button:hover {
    background: transparent;
    color: white;
  }
  
  .hero-text {
    font-size: 0.875rem;
    color: white;
    margin-bottom: 1rem;
    letter-spacing: 1px;
  }
  
  .hero-icon {
    width: 1rem;
    height: 1rem;
    display: inline;
    margin-right: 0.25rem;
  }
  
  .hero-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1rem;
  }

  .hero-reviews-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-google-icon {
    margin-right: 0.5rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  
  .hero-stars {
    display: flex;
  }
  
  .hero-star-icon {
    width: 2rem;
    height: 2rem;
    color: #FBBF24;
  }
  
  .hero-review-text {
    margin-left: 0.5rem;
    font-size: 0.675rem;
    color: white;
  }
  
  .hero-image-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  
  .hero-image-container {
    position: absolute;
    bottom: 0;
    border-radius: 1.5rem;
    overflow: hidden;
    z-index: 10;
    background: none;
  }
  